/* Reference - https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Getting_started */
/* Reference - https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/div */
/* To add to each .html file: <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/> */
.box {
    width: 300px;
    background-color: #C2D8F2;
    border: 50px;
    padding: 50px;
    box-sizing: border-box;
}

.back{
       width: 300px;
    background-color: #99ABBF;
    border: 25px;
    padding: 25px;
    box-sizing: border-box; 
}