<!DOCTYPE html>
<html>
<title> Delete Files</title>
<h1> Delete a File</h1>
<form method=post enctype=multipart/form-data>
    <body>Username: </body>
    <input type="text" name="username" placeholder="Username" required>
    <br>
    <body>Password: </body>
    <input type="text" name="password" placeholder="Password" required>
    <br>
    <body>File name: </body>
    <input type="text" name="file" required>
    <br>
    <input type="submit" value="Upload">
</form>
<h1> {{flash}} </h1>
</html>