<!DOCTYPE html>
<html>
<title> Rename Files</title>
<h1> Rename a File</h1>
<form method=post enctype=multipart/form-data>
    <body>Username: </body>
    <input type="text" name="username" placeholder="Username" required>
    <br>
    <body>Password: </body>
    <input type="text" name="password" placeholder="Password" required>
    <br>
    <body>Original file name: </body>
    <input type="text" name="old_name" required>
    <br>
    <body>New file name: </body>
    <input type="text" name="new_name" required>
    <br>
    <input type="submit" value="Upload">
</form>
<h1> {{flash}} </h1>
</html>