<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
<title> Rename Files</title>
<h1> Rename a File</h1>
<form class="box" method=post enctype=multipart/form-data>
    <body>Original file name: </body>
    <input type="text" name="old_name" required>
    <br>
    <br>
    <body>New file name: </body>
    <input type="text" name="new_name" required>
    <br>
    <br>
    <input type="submit" value="Upload">
</form>
<p class="back"><a href="/">Back</a></p>
<h1> {{flash}} </h1>
</html>